@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

@mixin button-color($color) {
  &,
  &:focus,
  &.focus,
  &.disabled,
  &:disabled,
  .show > &.dropdown-toggle {
    color: $color;
  }
}

@mixin button-color-hover($color) {
  &:hover:not(:disabled):not(.disabled),
  &.hover:not(:disabled):not(.disabled) {
    color: $color;
  }
}

@mixin button-color-active($color) {
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    color: $color;
  }
}

.btn .feather {
  width: 14px;
  height: 14px;
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-color($white);
    @include button-color-hover($white);
  }
}

.btn-light,
.btn-white {
  @include button-color($gray-800);
  @include button-color-hover($gray-800);
}
