<div class="wrapper">
  <div #collapse="ngbCollapse" [ngbCollapse]="isCollapsed" [horizontal]="true">
    <div class="d-none d-md-block h-100">
      <app-sidebar />
    </div>
  </div>

  <ng-template #offcanvasSidebar let-offcanvas>
    <div class="offcanvas-body p-0">
      <app-sidebar />
    </div>
  </ng-template>

  <div class="d-flex flex-column" style="width: 100vw; height: 100vh">
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <button class="btn btn-primary d-md-none" (click)="openOffcanvas()">
          Menu
        </button>
        <button
          class="btn btn-outline-primary d-none d-md-block"
          (click)="collapse.toggle()"
          [attr.aria-expanded]="!isCollapsed"
        >
          Menu
        </button>
        Navbar content here
      </div>
    </nav>
    <div class="flex-grow-1 p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
